body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img/penis.jpg') no-repeat;
  background-size: 1538px 729.6px;
  background-position: center;
}
#login-container {
  background-color: #6EB680; /* cor e opacidade */
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 12%;
}

/* deixar espaçamento entre as caixas e as extremidades */
@media (min-width: 768px) {
  #login-container {
    padding: 1.5rem;
  }
}